In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
df=pd.read_excel('Daraz.xlsx')
print(df.shape)
df.head()

(3923, 10)

,Unnamed: 0,Product_ID,Customer_Name,Customer_ID,Date,Rating,Spam(1) and Not Spam(0),Reviews,Sentiment,Features
0,0,TE111EL1KXNGWNAFAMZ,itzmr7,6702,2019-11-09,1,0,mil gya hai acha hai aur toota howa b nai hai,Positive,['toota']
1,1,MI543EL02ACXSNAFAMZ,Afridi,396,2016-11-21,5,0,aram sy pocket may aa jta hai aur quality b ac...,Positive,"['aram', 'pocket', 'quality']"
2,2,MI543EL02ACXSNAFAMZ,Muhammed,3710,2018-10-22,2,0,sb sy achi chez apki customer service bhot ach...,Positive,"['customer', 'products', 'orignal']"
3,3,TE111EL1KXNGWNAFAMZ,Ghazanfar,1860,2017-10-06,3,0,back cover acha hai sai cuts hai aur soft b ha...,Positive,"['back', 'cover', 'cuts', 'soft', 'protector',..."
4,4,SO638EL103OUWNAFAMZ,Murtaza iqbal,3778,2017-08-31,4,0,shru may may thumb grip k khalif thi kyu k ext...,Negative,"['thumb', 'grip', 'chezy', 'stock', 'controlle..."

In [3]:
df.isnull().sum()

Unnamed: 0                 0
Product_ID                 0
Customer_Name              0
Customer_ID                0
Date                       0
Rating                     0
Spam(1) and Not Spam(0)    0
Reviews                    0
Sentiment                  0
Features                   0
dtype: int64

In [4]:
df.columns

Index(['Unnamed: 0', 'Product_ID', 'Customer_Name', 'Customer_ID', 'Date',
       'Rating', 'Spam(1) and Not Spam(0)', 'Reviews', 'Sentiment',
       'Features'],
      dtype='object')

In [5]:
df.drop(['Product_ID','Customer_Name','Customer_ID','Date','Features','Unnamed: 0'],axis=1,inplace=True)

In [6]:
df.head()

,Rating,Spam(1) and Not Spam(0),Reviews,Sentiment
0,1,0,mil gya hai acha hai aur toota howa b nai hai,Positive
1,5,0,aram sy pocket may aa jta hai aur quality b ac...,Positive
2,2,0,sb sy achi chez apki customer service bhot ach...,Positive
3,3,0,back cover acha hai sai cuts hai aur soft b ha...,Positive
4,4,0,shru may may thumb grip k khalif thi kyu k ext...,Negative

## ----(Lets do analysis)----

In [7]:
df['Sentiment'].value_counts()

Positive    2372
Negative     983
Neutral      568
Name: Sentiment, dtype: int64

In [8]:
df['Spam(1) and Not Spam(0)'].value_counts()

0    3393
1     530
Name: Spam(1) and Not Spam(0), dtype: int64

In [9]:
df[df['Spam(1) and Not Spam(0)']==1]

,Rating,Spam(1) and Not Spam(0),Reviews,Sentiment
19,5,1,portrait mode bhot acha iss phone k camera may...,Positive
21,5,1,achi timing hai sirf dino may agya hai,Neutral
23,5,1,audio achi hai base k sath,Positive
24,5,1,shukriya achi quality k lya mujhy pasnd hai is...,Positive
25,5,1,shukriya achi quality k lya aur iss ki audio b...,Positive
...,...,...,...,...
3896,5,1,mustahiq masnoaat ke sath behtareen company b...,Positive
3897,5,1,qabil aetmaad aur saada mukammal tor par iss k...,Positive
3916,4,1,auto safai aur shamsi mutabqat ke af aal mojoo...,Neutral
3917,5,1,kaam se kaam bijli ki istemaal ke sath thandi ...,Positive
3921,5,1,mein nai iss ac ko hbl shop festa se khareeda ...,Negative

In [10]:
df[df['Spam(1) and Not Spam(0)']==1]['Sentiment'].value_counts()

Positive    356
Negative    115
Neutral      59
Name: Sentiment, dtype: int64

In [11]:
df[df['Spam(1) and Not Spam(0)']==1]['Reviews']

19      portrait mode bhot acha iss phone k camera may...
21                achi timing hai sirf  dino may agya hai
23                             audio achi hai base k sath
24      shukriya achi quality k lya mujhy pasnd hai is...
25      shukriya achi quality k lya aur iss ki audio b...
                              ...
3896    mustahiq masnoaat ke sath behtareen company  b...
3897    qabil aetmaad aur saada mukammal tor par iss k...
3916    auto safai aur shamsi mutabqat ke af aal mojoo...
3917    kaam se kaam bijli ki istemaal ke sath thandi ...
3921    mein nai iss ac ko hbl shop festa se khareeda ...
Name: Reviews, Length: 530, dtype: object

In [12]:
df[(df['Spam(1) and Not Spam(0)']==1) & (df['Sentiment']=='Negative') & (df['Rating']>2)]

,Rating,Spam(1) and Not Spam(0),Reviews,Sentiment
79,5,1,aik din may product mil gya orignal seal tha a...,Negative
177,5,1,start delivery k lya aur star phone k lya,Negative
223,3,1,pack kyunkay un tea shirts mein se sirf qabi...,Negative
262,3,1,s pack se meri sirf tashweesh yeh hai ke un te...,Negative
264,3,1,theek hai mein nai yeh shirts haal hi mein kha...,Negative
...,...,...,...,...
3738,4,1,mein asal mein iss baal spray pasand karta hon...,Negative
3741,3,1,ibtidayi tor par mein iss ke sath bohat khush ...,Negative
3820,5,1,mein nai apne zindagi ke waqt mein bohat se ch...,Negative
3879,3,1,jab ye puhanche tu iss masnoaat ko uper ki tar...,Negative
3921,5,1,mein nai iss ac ko hbl shop festa se khareeda ...,Negative

In [13]:
df[(df['Sentiment']=='Negative') & (df['Rating']>2)]

,Rating,Spam(1) and Not Spam(0),Reviews,Sentiment
4,4,0,shru may may thumb grip k khalif thi kyu k ext...,Negative
7,5,0,iss ka pura packge jis may naya chipset hai au...,Negative
10,4,0,iss may iss ki cable nai h aur iss k speaker b...,Negative
16,3,0,in k headphone ziyda buri nai hai lakin may ka...,Negative
54,4,0,mujhy iss ki cable nai mili iss k daby may,Negative
...,...,...,...,...
3889,5,0,masnoaat ki ahliat aur tarseel ke lehaz se un ...,Negative
3905,4,0,agarchay iss ka waqt lag raha hai lekin miyaar...,Negative
3912,5,0,mujhe yeh pasand hai lekin taham yeh chota hai...,Negative
3914,5,0,mein nai pichlle mahinay khareeda,Negative
3921,5,1,mein nai iss ac ko hbl shop festa se khareeda ...,Negative

In [14]:
rows_to_remove = df[(df['Sentiment']=='Negative') & (df['Rating']>2)].index
df=df.drop(rows_to_remove)

In [15]:
df.shape

(3362, 4)

In [16]:
df[(df['Sentiment']=='Positive') & (df['Rating']<=2)]

,Rating,Spam(1) and Not Spam(0),Reviews,Sentiment
0,1,0,mil gya hai acha hai aur toota howa b nai hai,Positive
2,2,0,sb sy achi chez apki customer service bhot ach...,Positive
13,2,0,jaizay dekhnay ke baad khareeda gaya lekin muj...,Positive
14,2,0,iss mein koi ox kibl shaamil nahi hai mein ny ...,Positive
32,1,0,iss k batter ie k issues hai aur customer serv...,Positive
...,...,...,...,...
3835,1,0,sab se pehlay yeh bohat der se aya dosra gandi...,Positive
3841,2,0,darwaaza kaam miyaar hai maadni istemaal kaam ...,Positive
3854,1,0,ahem wazahat iss dd c invertor ai si ko dikha ...,Positive
3915,2,0,iss article mein koi auto car tareeqay se safa...,Positive
3922,1,0,aik puranay model bheja gaya tha jo ab bazaar ...,Positive

In [17]:
rows_to_remove = df[(df['Sentiment']=='Positive') & (df['Rating']<=2)].index
df=df.drop(rows_to_remove)

In [18]:
df.shape

(3216, 4)

In [19]:
df.head()

,Rating,Spam(1) and Not Spam(0),Reviews,Sentiment
1,5,0,aram sy pocket may aa jta hai aur quality b ac...,Positive
3,3,0,back cover acha hai sai cuts hai aur soft b ha...,Positive
5,5,0,may ny ya lya kyu k ya madad karti h acha karn...,Positive
6,4,0,mein neh shuru mein yeh haasil karne ki zahmat...,Positive
8,1,0,bohat mehanga kya hai mein iss price brikt mei...,Negative

In [20]:
df.drop('Spam(1) and Not Spam(0)',axis=1,inplace=True)

In [21]:
print(df.shape)
df.head()

(3216, 3)

   Rating                                            Reviews Sentiment
1       5  aram sy pocket may aa jta hai aur quality b ac...  Positive
3       3  back cover acha hai sai cuts hai aur soft b ha...  Positive
5       5  may ny ya lya kyu k ya madad karti h acha karn...  Positive
6       4  mein neh shuru mein yeh haasil karne ki zahmat...  Positive
8       1  bohat mehanga kya hai mein iss price brikt mei...  Negative

In [22]:
df['Sentiment'].value_counts()

Positive    2226
Neutral      568
Negative     422
Name: Sentiment, dtype: int64

In [23]:
target={"Positive":1,"Neutral":2,"Negative":3}
df['sentiment_num']=df['Sentiment'].map(target)

In [24]:
df.head()

,Rating,Reviews,Sentiment,sentiment_num
1,5,aram sy pocket may aa jta hai aur quality b ac...,Positive,1
3,3,back cover acha hai sai cuts hai aur soft b ha...,Positive,1
5,5,may ny ya lya kyu k ya madad karti h acha karn...,Positive,1
6,4,mein neh shuru mein yeh haasil karne ki zahmat...,Positive,1
8,1,bohat mehanga kya hai mein iss price brikt mei...,Negative,3

In [25]:
df[['Reviews','Rating']]

                                                Reviews  Rating
1     aram sy pocket may aa jta hai aur quality b ac...       5
3     back cover acha hai sai cuts hai aur soft b ha...       3
5     may ny ya lya kyu k ya madad karti h acha karn...       5
6     mein neh shuru mein yeh haasil karne ki zahmat...       4
8     bohat mehanga kya hai mein iss price brikt mei...       1
...                                                 ...     ...
3916  auto safai aur shamsi mutabqat ke af aal mojoo...       4
3917  kaam se kaam bijli ki istemaal ke sath thandi ...       5
3918  tasweer isi terhan tha jaisay tasweer aur tars...       3
3919  waqt par masool hwa aaccha lagta hai mein iss ...       5
3920  masnoaat isi terhan ki thi jaisay website par ...       3

[3216 rows x 2 columns]

X=df.drop(['sentiment_num','Sentiment'],axis=1)
y=df['sentiment_num']

from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,random_state=2024,test_size=0.2)
X_train.shape,X_test.shape

In [26]:
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(df.Reviews,df.sentiment_num,random_state=2024,test_size=0.2,stratify=df.sentiment_num)
X_train.shape,X_test.shape

((2572,), (644,))

In [27]:
X_train[:3][3243]

'paisay zaya ho gaye meine trip per jana tha mujhe picture mein jo thay ue ke bajaye bachon ke snorkels bhej diya'

X_train_Review=X_train['Reviews']
X_train_Rating=X_train['Rating']
X_test_Review=X_test['Reviews']
X_test_Rating=X_test['Rating']

from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
cv=CountVectorizer(ngram_range=(1,1))
X_train_Review_cv=cv.fit_transform(X_train_Review)
X_test_Review_cv=cv.transform(X_test_Review)

a=pd.DataFrame(X_train_Review_cv.toarray())
a.reset_index(drop=True, inplace=True)
b=pd.DataFrame(X_train_Rating)
b.reset_index(drop=True, inplace=True)

c=pd.DataFrame(X_test_Review_cv.toarray())
c.reset_index(drop=True, inplace=True)
d=pd.DataFrame(X_test_Rating)
d.reset_index(drop=True, inplace=True)

combined_train = pd.concat([a, b], axis=1)
combined_train.columns = combined_train.columns.astype(str)

combined_test = pd.concat([c, d], axis=1)
combined_test.columns = combined_test.columns.astype(str)

from sklearn.ensemble import GradientBoostingClassifier
GB=GradientBoostingClassifier(learning_rate=0.1,n_estimators=1000)
GB.fit(combined_train,y_train)

GB.score(combined_test,y_test)

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer,CountVectorizer
from sklearn.metrics import classification_report
from sklearn.ensemble import GradientBoostingClassifier

vec=CountVectorizer(ngram_range=(1,1))
X_train_cv=vec.fit_transform(X_train)
X_test_cv=vec.transform(X_test)

In [29]:
mod=GradientBoostingClassifier(learning_rate=0.1,n_estimators=2000)
mod.fit(X_train_cv,y_train)
mod.score(X_test_cv,y_test)

0.8385093167701864

In [30]:
y_pred=mod.predict(X_test_cv.toarray())
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           1       0.87      0.96      0.91       446
           2       0.69      0.60      0.64       114
           3       0.79      0.55      0.65        84

    accuracy                           0.84       644
   macro avg       0.78      0.70      0.73       644
weighted avg       0.83      0.84      0.83       644

In [31]:
Message=['bohot acha and very good quality']
counts=vec.transform(Message)
a=mod.predict(counts.toarray())
a

array([1], dtype=int64)

In [32]:
# 1--> Positive
# 2--> Neutral
# 3--> Negative